name: flutter_socket_example
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  logging: ^1.3.0
  get_it: ^9.1.0
  intl: ^0.19.0
  socket_io_client: ^3.1.2
  flutter_hooks: ^0.21.2
  

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
